[supervisord]
logfile=/var/log/supervisord.log
logfile_backups=2
loglevel=debug
pidfile=/var/run/supervisord.pid
nocleanup=true
childlogdir=/var/log

[eventlistener:evlistener]
command=%(here)s/evlistener.py
events=PROCESS_STATE,TICK_60
buffer_size=1024

[program:alerta-dynect]
command=alerta-dynect
