name: Tests

on:
  push:
  pull_request:
    branches: [ master ]

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  test-postgres:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_DB: alerta
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      matrix:
        python-version: ['3.8', '3.11']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        id: install-deps
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -r requirements-dev.txt
      - name: Pre-commit hooks
        id: hooks
        run: |
          pre-commit run -a --show-diff-on-failure
      - name: Lint with flake8
        id: lint
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=50 --max-line-length=127 --statistics
      - name: Unit Test Plugins
        id: unit-test-plugins
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/alerta
        run: |
          pytest -v plugins/*/test*.py --cov=plugins
      - name: Unit Test Webhooks
        id: unit-test-webhooks
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/alerta
        run: |
          pytest -v webhooks/*/test*.py --cov=webhooks
      - name: Unit Test Integrations
        id: unit-test-integrations
        env:
          DATABASE_URL: mongodb://127.0.0.1:27017/alerta
        run: |
          pytest -v integrations/*/test*.py --cov=integrations
      - uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()

  test-mongodb:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017

    strategy:
      matrix:
        python-version: ['3.8', '3.11']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        id: install-deps
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -r requirements-dev.txt
      - name: Pre-commit hooks
        id: hooks
        run: |
          pre-commit run -a --show-diff-on-failure
      - name: Lint with flake8
        id: lint
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=50 --max-line-length=127 --statistics
      - name: Unit Test Plugins
        id: unit-test-plugins
        env:
          DATABASE_URL: mongodb://127.0.0.1:27017/alerta
        run: |
          pytest -v plugins/*/test*.py --cov=plugins
      - name: Unit Test Webhooks
        id: unit-test-webhooks
        env:
          DATABASE_URL: mongodb://127.0.0.1:27017/alerta
        run: |
          pytest -v webhooks/*/test*.py --cov=webhooks
      - name: Unit Test Integrations
        id: unit-test-integrations
        env:
          DATABASE_URL: mongodb://127.0.0.1:27017/alerta
        run: |
          pytest -v integrations/*/test*.py --cov=integrations
      - uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: failure()
